
<div class="row justify-content-center align-items-center form-sign-wraper">
    <div class="col-6 form-signin text-center">
        <img class="mb-4" src="/assets/images/logo.jpg" alt="" width="180" />
        <form [formGroup]="form">
            <label for="usuario" class="sr-only">Matricula</label>
            <input 
            id="usuario"
            type="text"
            formControlName="usuario"
            class="form-control form-control-sm"
            autocomplete="usuario"  placeholder="Matricula"/>
            
            <label for="senha" class="sr-only">Senha</label>
            <input
            id="senha"
            type="password"
            formControlName="senha"
            class="form-control form-control-sm"
            autocomplete="senha"  placeholder="Senha"/>
            
            <a href="/unauthorized"> <button class="btn btn-primary btn-block" type="submit" >ENTRAR</button></a>
        </form>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>